{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>NbPages</th>
                <td>{{ livre.nbPages }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>DateEdition</th>
                <td>{{ livre.dateEdition ? livre.dateEdition|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbExemplaire</th>
                <td>{{ livre.nbExemplaire }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ livre.prix }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ livre.categorie }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ livre.editeur }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if livre.image %}
                        <img src="{{ asset('uploads/images/' ~ livre.image) }}" alt="Book Image" style="max-width: 150px; height: auto;">
                    {% else %}
                        <span>No image available</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livre_index') }}">back to list</a>

    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">edit</a>

    {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
